<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>com.onlineshopping.home.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>categoryList</servlet-name>
        <servlet-class>com.onlineshopping.category.categoryList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>customerList</servlet-name>
        <servlet-class>com.onlineshopping.customer.customerList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>orderList</servlet-name>
        <servlet-class>com.onlineshopping.order.orderList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>orderdetailsList</servlet-name>
        <servlet-class>com.onlineshopping.orderdetails.orderdetailsList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>productList</servlet-name>
        <servlet-class>com.onlineshopping.product.productList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminHome</servlet-name>
        <servlet-class>com.onlineshopping.adminHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>categoryview</servlet-name>
        <servlet-class>com.onlineshopping.category.categoryview</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>customerView</servlet-name>
        <servlet-class>com.onlineshopping.customer.customerView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>productView</servlet-name>
        <servlet-class>com.onlineshopping.product.productView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Authentication</servlet-name>
        <servlet-class>com.onlineshopping.Authentication</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>categoryAdd</servlet-name>
        <servlet-class>com.onlineshopping.category.categoryAdd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>register</servlet-name>
        <servlet-class>com.onlineshopping.register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerAdd</servlet-name>
        <servlet-class>com.onlineshopping.category.registerAdd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Addregister</servlet-name>
        <servlet-class>com.onlineshopping.customer.Addregister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>customerHome</servlet-name>
        <servlet-class>com.onlineshopping.customer.customerHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>customerAdd</servlet-name>
        <servlet-class>com.onlineshopping.customer.customerAdd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>customerListforadmin</servlet-name>
        <servlet-class>com.onlineshopping.customer.customerListforadmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminHome2</servlet-name>
        <servlet-class>com.onlineshopping.adminHome2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>customerListforAdmin</servlet-name>
        <servlet-class>com.onlineshopping.customer.customerListforAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>productAdd</servlet-name>
        <servlet-class>com.onlineshopping.product.productAdd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>orderdetailsView</servlet-name>
        <servlet-class>com.onlineshopping.orderdetails.orderdetailsView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>categoryviewforcustomer</servlet-name>
        <servlet-class>com.onlineshopping.category.categoryviewforcustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>categoryUpdate</servlet-name>
        <servlet-class>com.onlineshopping.category.categoryUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>productUpdate</servlet-name>
        <servlet-class>com.onlineshopping.product.productUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>customerUpdate</servlet-name>
        <servlet-class>com.onlineshopping.customer.customerUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>productviewforcustomer</servlet-name>
        <servlet-class>com.onlineshopping.product.productviewforcustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Masterdeepak</servlet-name>
        <servlet-class>com.onlineshopping.product.Masterdeepak</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>contactUs</servlet-name>
        <servlet-class>com.onlineshopping.contactUs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deepaksisodiya</servlet-name>
        <servlet-class>com.onlineshopping.deepaksisodiya</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>aboutdeepak</servlet-name>
        <servlet-class>com.onlineshopping.home.aboutdeepak</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>allproduct</servlet-name>
        <servlet-class>com.onlineshopping.product.allproduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.onlineshopping.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>customerAddCart</servlet-name>
        <servlet-class>com.onlineshopping.order.customerAddCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>aboutUs</servlet-name>
        <servlet-class>com.onlineshopping.home.aboutUs</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>categoryList</servlet-name>
        <url-pattern>/categoryList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>customerList</servlet-name>
        <url-pattern>/customerList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>orderList</servlet-name>
        <url-pattern>/orderList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>orderdetailsList</servlet-name>
        <url-pattern>/orderdetailsList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>productList</servlet-name>
        <url-pattern>/productList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminHome</servlet-name>
        <url-pattern>/adminHome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>categoryview</servlet-name>
        <url-pattern>/categoryview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>customerView</servlet-name>
        <url-pattern>/customerView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>productView</servlet-name>
        <url-pattern>/productView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Authentication</servlet-name>
        <url-pattern>/Authentication</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>categoryAdd</servlet-name>
        <url-pattern>/categoryAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerAdd</servlet-name>
        <url-pattern>/registerAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Addregister</servlet-name>
        <url-pattern>/Addregister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>customerHome</servlet-name>
        <url-pattern>/customerHome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>customerAdd</servlet-name>
        <url-pattern>/customerAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>customerListforadmin</servlet-name>
        <url-pattern>/customerListforadmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminHome2</servlet-name>
        <url-pattern>/adminHome2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>customerListforAdmin</servlet-name>
        <url-pattern>/customerListforAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>productAdd</servlet-name>
        <url-pattern>/productAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>orderdetailsView</servlet-name>
        <url-pattern>/orderdetailsView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>categoryviewforcustomer</servlet-name>
        <url-pattern>/categoryviewforcustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>categoryUpdate</servlet-name>
        <url-pattern>/categoryUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>productUpdate</servlet-name>
        <url-pattern>/productUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>customerUpdate</servlet-name>
        <url-pattern>/customerUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>productviewforcustomer</servlet-name>
        <url-pattern>/productviewforcustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Masterdeepak</servlet-name>
        <url-pattern>/Masterdeepak</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>contactUs</servlet-name>
        <url-pattern>/contactUs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deepaksisodiya</servlet-name>
        <url-pattern>/deepaksisodiya</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>aboutdeepak</servlet-name>
        <url-pattern>/aboutdeepak</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>allproduct</servlet-name>
        <url-pattern>/allproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>customerAddCart</servlet-name>
        <url-pattern>/customerAddCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>aboutUs</servlet-name>
        <url-pattern>/aboutUs</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
